node_modules

!.env
.env
.env.local
.DS_Store
.cache
.vercel
.output
.nitro
.tanstack
.idea

/build/
/api/
/server/build
/public/build
/dist/
/dist-ssr/

# Sentry Config File
.env.sentry-build-plugin
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# all the ai stuff
.agents/
.claude/
.cursor/
AGENTS.md
CLAUDE.md
skills-lock.json

app.config.timestamp_*.js
